@font-face {
  font-family: "OverpassMono";
  src: url(fonts/overpass-mono-light.ttf)
}

@font-face {
  font-family: "OverpassMonoBold";
  src: url(fonts/overpass-mono-semibold.ttf)
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: OverpassMono;
  color: #171726;
}

h1 {
  font-size: 32px;
  font-family: OverpassMonoBold;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  color: #A9ACB5;
  margin: 0;
}

p {
  font-size: 17px;
  text-align: justify;
  margin: 0;
  line-height: 1.75;
}

a {
  font-size: 17px;
  margin: 0;
  color: #171726;
}

#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#social {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#social a {
  margin-right: 20px;
}

.github {
  color: #8a8c8e;
}

.twitter {
  color: #48A0ED;
}

.linkedin {
  color: #2F77B0;
}

.angel {
  color: #363435;
}

.stackoverflow {
  color: #E6853D;
}

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact h4 {
  margin-bottom: 5px;
}

#contact p {
  text-decoration: underline;
}

.contact-info {
  margin-right: 20px;
  margin-top: 20px;
}

#experiences {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

#experience {
  margin-top: 50px;
}

.experience h5 {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 300;
}

.experience p {
  font-size: 15px;
}

#footer {
  margin: 20px 0;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  #experiences {
    width: 100%;
  }
}

*::selection {
  background-color: #363435;
  color: #ffffff;
}